@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&family=Roboto:wght@400&display=swap');

.note-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;

  @media (max-width:600) {
    width: 400px;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: 5px;
  width: 600px;
}

.input-container {
  padding: 1% 1% 1% 3%;
}

.cardOpen {
  padding: 1% 1% 1% 3%;
  min-height: 30px;
}


.icons-container {
  display: flex;
  width: 90%;
}

.addnotetext {
  ::placeholder{
    font-size: small;
  }
}

.btn-close {
  border: none;
  background-color: rgb(255, 255, 255);
  font-family: 'DM Sans';
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-close:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-button {
  display: flex;
  width: 85px;
}