.noteBox-container {
  width: 240px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 2px 2px rgb(0 0 0 / 10%);
}

.allNotes {
  padding-top: 30px;
  padding-left: 85px;
}

.textBox {
  padding: 50px;
}
