.noteBox-container {
  width: 220px;
  @media (max-width:600px) {
    width: 600px;
  }
}

.allNotes {
  padding-left: 50px;
  padding-bottom: 30px;
  @media (max-width:600px) {
    padding: 20px;
  }
}

.textBox {
  padding: 50px;
}