@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans&family=Roboto:wght@400&display=swap');

body {
    font-family: 'DM Sans', sans-serif;  
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 8%;
}
.items-container {
    width: 47%;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    display: flex;
    @media(max-width:862px) {
        width: 60%;
    }
    @media(max-width: 550px) {
        width: 100%;
        border: 0px solid rgb(194, 194, 194);
    }
}

.row-name {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    @media(max-width: 550px) {
        flex-direction: column;
    }
}

.row-pass {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    @media(max-width: 550px) {
        flex-direction: column;
    }
}

.row-username {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.username {
    width: 100%;
}

.left-container {
    width: 55%;
    height: 100%;
    padding-left: 40px;
    padding-top: 20px;
    @media(max-width:1400px) {
        width: 100%;
        padding-right: 40px;
    }
    @media(max-width: 550px) {
    }
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    @media(max-width:1400px) {
        width: 0%;
        img {
            width: 0;
            height: 0;
        }
        p{
            display: none;
        }
    }

    @media(min-width:1400px) {
        width: 45%;
        img {
            width: 244px;
            height: 244px;
        }
    }
}

.l-row {
    width: 48%;
    padding-top: 5px;
    @media(max-width: 550px) {
        width: 100%;
        padding-bottom: 20px;
    }
}

.logo p {
    font-weight: 100;
    font-size: medium;
    color: rgb(63, 63, 63);
}

.title {
    height: 40px;
}

.msg {
    padding-bottom: 30px;
}

.title p {
    font-size: x-large;
    font-weight: 600;
}

.msg span {
    font-size: x-large;
    font-weight: 50;
}

.myEmail {
    display: flex;
    justify-content: start;
    font-size: 14px;
    font-weight: 500;
    color: #1a73e8;
    padding-bottom: 20px;
}

.myEmail :hover {
    cursor: pointer;
    border-radius: 5px; 
    background-color: #e7e9f3;
    color: rgb(41, 62, 153);
}

.btn-container {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.btn-container button {
    background-color: #1e7cf7;
    font-weight: 600;
    color: #fff;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: 'DM Sans', sans-serif;
}

.btn-container p {
    font-size: 15px;
    font-weight: 500;
    color: #1a73e8;
}

.btn-container button:hover {
    cursor: pointer;
    background-color: #0a6ef1;
}

.btn-container p:hover {
    cursor: pointer;
    background-color: #eef1fd;
    border-radius: 3px;
    color: rgb(41, 62, 153);
}

.checkbox {
    display: flex;
    justify-self: start;
    height: 45px;
}

.helperText{
    display: flex;
    justify-content: start;
    padding-left: 15px;
	font-family: sans-serif;
	font-size: 12px;
	color: rgb(105, 105, 105);
}